{% extends "basis.html" %}

{% block context %}
    <div class="fixed">
        <nav class="top-bar">
            <ul class="horizontal">
                <li>
                    <p class="text_usual centering no_hover">{{user.name}}</p>
                </li>
                <li><form action="{{ url_for('logout') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <button type="submit" class="text_usual centering">Log out</button>
                </form></li>
                <li><a href="{{ url_for('my_settings') }}" class="text_usual centering">My settings</a></li>
                <li><form action="{{ url_for('search_req') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <input name="search" type="search" placeholder="Search for settings" class="text_usual centering">
                    <input type="submit" value="Search" class="text_usual centering">
                </form></li>
                <li>
                    <form action="{{ url_for('download_files') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                        {% if files_situation[1]==0 %}
                        <button type="submit" onclick="Files_reset(this)" disabled class="text_usual centering {{ 'proc_process' if files_situation[0]!=0 else ('proc_empty' if files_situation[1]==0 else 'proc_finished') }}">
                            {% if user.waits %} Waits {% endif %}{{ files_situation[1] }} / {{ files_situation[1] + files_situation[0] }}
                        </button>
                        {% else %}
                        <button type="submit" onclick="Files_reset(this)" class="text_usual centering {{ 'proc_process' if files_situation[0]!=0 else ('proc_empty' if files_situation[1]==0 else 'proc_finished') }}">
                            {{ files_situation[1] }} / {{ files_situation[1] + files_situation[0] }}
                        </button>
                        {% endif %}
                    </form>
                </li>
                {% if job is not none and job.status=='running' and files_situation[0]!=0 %}
                <li>
                    <form action="{{ url_for('terminate') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                        <input type="submit" class="text_usual centering" value="Terminate">
                    </form>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% block main_content %}{% endblock %}
{% endblock %}
