{% extends "basis.html" %}

{% block context %}
    <div class="row">
        <div class="col">
            <img src="{{ url_for('static', path='login.png') }}" border="2" class="image-my">
            <form action="{{ url_for('login') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <p class="loging">
                    <label for="username">Username</label><br>
                    <input id="username" name="username" size="32" required minlength="4" maxlength="62">
                </p>
                <p class="loging">
                    <label for="password">Password</label><br>
                    <input id="password" name="password" type="password" size="32" required minlength="4" maxlength="128">
                </p>
                <p class="loging"><input type="submit" name="subm" value="Sign In" size="32"></p>

            </form>
            <div class="loging">
                <a href="{{ url_for('register_page') }}">Register</a>
            </div>
        </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="col-2">
            {% for category, msg in messages %}
                <p class="text_usual msg {{ category }}">{{msg}}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    </div>
    {% endblock %}
