{% extends "logged_basis.html" %}

{% block main_content %}
    <div class="row text_usual">
        <div class="col">
            <button class="control_buttons" onclick="Open_exp(this)" aria-haspopup="dialog" aria-controls="Explanation" aria-expanded="false">Show explanations</button>
            <br>
        </div>
    </div>
    <div hidden id="Explanation" class="explanation-backdrop" role="dialog" aria-modal="true" aria-labelledby="explanation-title" onclick="Close_exp(event)">
        <div class="explanation-popup text_usual">
            <div class="explanation-header">
                <h2 id="explanation-title" class="text_big">Explanations</h2>
                <button type="button" class="explanation-close" aria-label="Close explanations" onclick="Close_exp(event)">&times;</button>
            </div>
            <p class="data_info">Text Evolver - this website allows you to alter content of your text-based files in certain ways</p>
            <p class="data_info">The way text will be altered is based on "setting" that you create and is connected yo your account</p>
            <br>
            <p class="data_info">Search: searches for some phrase in settings' names</p>
            <p class="data_info">By your request: shows what was your request and search results</p>
            <br>
            <p class="data_info">Setting: has number in results, name of setting and its owner</p>
            <p class="data_info">Owner: shows name of owner (login username). If you are its owner, it will be "YOU"</p>
            <br>
            <p class="data_info">Previous/next page: helps with navigating across request results</p>
            <br>
            <hr class="new" />
            <br>
            <hr class="new" />
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text_usual set_link">By your request "{{ results['phrase'] }}" founded {{ results['founded'] }} results, {{ results['left_border'] }}-{{ results['right_border'] }} are shown</p>
            {% for setting in results['settings'] %}
            <div class="row no-gutters" id="{{ setting.id }}">
                <div class="col-auto">
                    <p class="text_big set_number">{{ loop.index + results['offset'] }}</p>
                </div>
                <div class="col">
                    <a href="{{ url_for('setting', setting_id=setting.id) }}" class="text_usual set_link">{{ setting.name }}</a>
                    <p class="text_small set_link">Owner:{% if setting.owner_id==user.id %} YOU {% else %} {{setting.owner_name}} {% endif %}</p>
                </div>
            </div>
            {% endfor %}
            <div>
                {% if results['left_available'] %}
                    <a href="{{ url_for('search', phrase=results['phrase'], page=results['page']-1) }}" class="text_usual page_link left">
                        <i class="fas fa-angle-left page_arrow"></i>
                        <span>Previous page</span>
                    </a>
                {% else %}
                    <a href="{{ url_for('search', phrase=results['phrase'], page=results['page']-1) }}" class="text_usual page_link left" disabled>
                        <i class="fas fa-angle-left page_arrow"></i>
                        <span>Previous page</span>
                    </a>
                {% endif %}
                {% if results['right_available'] %}
                    <a href="{{ url_for('search', phrase=results['phrase'], page=results['page']+1) }}" class="text_usual page_link right">
                        <span>Next page</span>
                        <i class="fas fa-angle-right page_arrow"></i>
                    </a>
                {% else %}
                    <a href="{{ url_for('search', phrase=results['phrase'], page=results['page']+1) }}" class="text_usual page_link right" disabled>
                        <span>Next page</span>
                        <i class="fas fa-angle-right page_arrow"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
