{% extends "basis.html" %}

{% block context %}
    <div class="fixed">
        <nav class="top-bar">
            <ul class="horizontal">
                <li>
                    <p class="text_usual centering no_hover">{{user.name}}</p>
                </li>
                <li><a href="{{ url_for('logout') }}" class="text_usual centering">Log out</a></li>
                <li><a href="{{ url_for('my_settings') }}" class="text_usual centering">My settings</a></li>
                <li><form action="{{ url_for('search_req') }}" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.search(type="search", placeholder="Search for settings", class_="text_usual centering") }}
                    {{ form.submit(class_="text_usual centering") }}
                </form></li>
                <li>
                    <form action="{{ url_for('download_files') }}" method="POST">
                        {% if files_situation[1]==0 %}
                        <button type="submit" onclick="Files_reset(this)" disabled class="text_usual centering {{ 'proc_process' if files_situation[0]!=0 else ('proc_empty' if files_situation[1]==0 else 'proc_finished') }}">
                            {% if user.thread[0] is defined and user.thread[0].waits==True %} Waits {% endif %}{{ files_situation[1] }} / {{ files_situation[1] + files_situation[0] }}
                        </button>
                        {% else %}
                        <button type="submit" onclick="Files_reset(this)" class="text_usual centering {{ 'proc_process' if files_situation[0]!=0 else ('proc_empty' if files_situation[1]==0 else 'proc_finished') }}">
                            {{ files_situation[1] }} / {{ files_situation[1] + files_situation[0] }}
                        </button>
                        {% endif %}
                    </form>
                </li>
                {% if user.thread[0] is defined and user.thread[0].waits==False and files_situation[0]!=0 %}
                <li>
                    <form action="{{ url_for('terminate') }}" method="POST">
                        <input type="submit" class="text_usual centering" value="Terminate">
                    </form>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% block main_content %}{% endblock %}
{% endblock %}